extends layout

block content
  .page-wrappers

    //- BEGIN JUMBOTRON
    section#home.jumbotron.full-vh.bg-white(data-pages='parallax')
      .inner.full-height
        //- BEGIN SLIDER
        //- BEGIN CONTENT
        .content-layer
          .inner.full-height(data-pages-bg-image='assets/images/banner/before-outline.jpg', data-bg-overlay='black', data-overlay-opacity='0.33', draggable='false')
            .container-xs-height.full-height.inner
              .col-xs-height.col-middle.text-left
                .container
                  .col-sm-12
                    h1.light.bold.text-white.text-center The Culture of China
                    h1.light.bold.text-white.text-center Peking Opera
        //- END CONTENT
              //- END IMAGE PARRALAX
            //- END SLIDE
          //- BEGIN ANIMATED MOUSE
        .mouse-wrapper
          .mouse
            .mouse-scroll

        //- END SLIDER
    //- END JUMBOTRON

    section#proposal.p-b-85.p-t-75
      .container
        .row.text-center
          .col-sm-8.col-sm-offset-2.m-b-30
            h1.light.m-t-5 Proposal
            //- h1.m-t-5.light Something Different, Something New.
        .row
          .col-sm-4.col-sm-height.col-middle.sm-text-center
            //- img(src="assets/images/proposal/1.jpg", width="100%", alt="")
            .col-sm-8.col-sm-offset-2.text-center
              #fc-slideshow.fc-slideshow
                ul.fc-slides
                  li.no-padding
                    img(src="assets/images/proposal/1.jpg", width="100%")
                  li.no-padding
                    img(src="assets/images/proposal/2.jpg", width="100%")
                  li.no-padding
                    img(src="assets/images/proposal/3.jpg", width="100%")
                  li.no-padding
                    img(src="assets/images/proposal/4.jpg", width="100%")
                  li.no-padding
                    img(src="assets/images/proposal/5.jpg", width="100%")
                  li.no-padding
                    img(src="assets/images/proposal/6.jpg", width="100%")

              //- .hover-backdrop(style="background:url('assets/images/proposal/1.jpg')")
              //- |

          .col-sm-5.col-sm-height.col-middle.sm-p-l-30
            p.m-t-15.text-left
              | Through the design of the Peking Opera project, the designer will help people understand the Chinese opera’s profound cultural background and unique characteristics. The goal of the project is to express the artistic charm of the Peking Opera and inspire people with the love, the art of the Chinese nation and patriotic emotion. The Peking Opera project will help improve national quality and artistic accomplishment, so as to reignite the transmission and development of the culture of the Peking Opera.
    
    //- BEGIN Background SECTION
    section#background.bg-master-lightest.no-overflow.p-b-85.p-t-75
      .container
        .row.text-center
          .col-sm-8.col-sm-offset-2.m-b-30
            h1.light.m-t-5 Background
        #background_slider.swiper-container
          .swiper-wrapper
            //- BEGIN BACKGROUND
            .swiper-slide.fit.bg-master-lightest
              .container
                .col-sm-6.col-sm-height.col-middle
                  p.m-b-20.text-left
                    | This project was inspired by a Chinese historical story called Hua Mulan. Mulan is one of the most well-known ancient legends in ancient China, and the ballad of Mulan has been told in school textbooks since the story was passed down by our ancestors. 
                .col-sm-6.col-sm-height.col-middle.sm-text-center
                  img(alt="", src="assets/images/background/1.jpg", height="300px")
            .swiper-slide.fit.bg-master-lightest
              .container
                .col-sm-6.col-sm-height.col-middle.sm-text-center
                  img(alt="", src="assets/images/background/2.jpg", height="300px")
                .col-sm-6.col-sm-height.col-middle
                  p.m-b-20.text-left
                    | The story traces the transformations of her narrative from its inception in the Northern Wei ballad through to the 2010 cinema versions in order to trace the evolution of gendered norms of loyalty, patriotism, virtue and filial piety.  
            .swiper-slide.fit.bg-master-lightest
              .container
                .col-sm-6.col-sm-height.col-middle
                  p.m-b-20.text-left
                    | Chinese people love her story because she represents the prominence of Xiao or Hsiao, which means filial piety. As a young woman, Mulan decides to impersonate a man to serve in the army in the place of her father. 
                .col-sm-6.col-sm-height.col-middle.sm-text-center
                  img(alt="", src="assets/images/background/3.jpg", height="300px")
            .swiper-slide.fit.bg-master-lightest
              .container
                .col-sm-4.col-sm-height.col-middle.sm-text-center
                  img(alt="", src="assets/images/background/4.jpg", height="300px")
                .col-sm-8.col-sm-height.col-middle
                  p.m-b-20.text-left
                    | There was a 1998 movie version of Mulan made by Disney studios, which has influenced children worldwide. The animated English-speaking speaker, Mulan fully illustrates the Chinese culture to the western world; therefore, other fascinating topics arise. Western people evaluate Mulan extremely differently from people from to East. People think that she is the new modern female hero because she subverts traditional female status in society. The image that she created is the powerful and independent warrior, and no more cowardly wives or slaves, as well as the capable housewife who traditionally sits beside her husband all the time. In this project, the designer redesigned the image of the character at three different time periods, which are called Hua Dan, Wu Jing, and Tsing Yi.
          //- Add Navigation
          .swiper-pagination.relative.p-t-20
          .swiper-navigation.swiper-white-solid.swiper-button-prev.auto-reveal
          .swiper-navigation.swiper-white-solid.swiper-button-next.auto-reveal
    //- END Background SECTION
    

    //- BEGIN element CONTENT
    section#element.p-b-85.p-t-75
      .container
        .row.text-center
          .col-sm-8.col-sm-offset-2.m-b-30
            h1.light.m-t-5 Element
        .row
          img.lazy(src="assets/images/element/whole.jpg", alt="", data-max-top-translate="40", data-max-bottom-translate="300", data-speed="-0.1", data-delay="1000", data-curve="ease", width="100%")
        //- .social-wrapper
        //-   //- START SOCIAL
        //-   .social(data-pages="social")
        //-     .feed
        //-       //- START DAY
        //-       .day(data-social="day")
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/1.jpg")
        //-           |                 
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/2.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/3.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/4.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/5.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/6.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/7.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/8.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/9.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/10.jpg")
        //-           |                 
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/11.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/12.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/13.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/14.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/15.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/16.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/17.jpg")
        //-           |                   
        //-         //- END ITEM
        //-         //- START ITEM
        //-         .card.share.share-other.col1(data-social="item")
        //-           .card-content
        //-             img.lazy(alt="Person photo", src="assets/images/element/each/18.jpg")
        //-           |                   
        //-         //- END ITEM
        //-       //- END DAY
        //-     //- END FEED

    //- END element CONTENT

    //- BEGIN costume CONTENT
    section#costume.bg-master-lightest.p-b-85.p-t-75
      .container
        .row.text-center
          .col-sm-8.col-sm-offset-2.m-b-30
            h1.light.m-t-5 Costume
        .social-wrapper
          //- START SOCIAL
          .social(data-pages="social")
            .feed
              //- START DAY
              .day(data-social="day")
                //- START ITEM
                .card.share.share-other.col1(data-social="item")
                  .card-content
                    img.lazy(alt="Person photo", src="assets/images/costumes/1.jpg")
                  |                 
                //- END ITEM
                //- START ITEM
                .card.share.share-other.col1(data-social="item")
                  .card-content
                    img.lazy(alt="Person photo", src="assets/images/costumes/2.jpg")
                  |                   
                //- END ITEM
                //- START ITEM
                .card.share.share-other.col1(data-social="item")
                  .card-content
                    img.lazy(alt="Person photo", src="assets/images/costumes/3.jpg")
                  |                   
                //- END ITEM
                //- START ITEM
                .card.share.share-other.col1(data-social="item")
                  .card-content
                    img.lazy(alt="Person photo", src="assets/images/costumes/4.jpg")
                  |                   
                //- END ITEM
                //- START ITEM
                .card.share.share-other.col1(data-social="item")
                  .card-content
                    img.lazy(alt="Person photo", src="assets/images/costumes/5.jpg")
                  |                   
                //- END ITEM
                //- START ITEM
                .card.share.share-other.col1(data-social="item")
                  .card-content
                    img.lazy(alt="Person photo", src="assets/images/costumes/6.jpg")
                  |                   
                //- END ITEM
                //- START ITEM
                .card.share.share-other.col1(data-social="item")
                  .card-content
                    img.lazy(alt="Person photo", src="assets/images/costumes/7.jpg")
                  |                   
                //- END ITEM
                //- START ITEM
                .card.share.share-other.col1(data-social="item")
                  .card-content
                    img.lazy(alt="Person photo", src="assets/images/costumes/8.jpg")
                  |                   
                //- END ITEM
                //- START ITEM
                .card.share.share-other.col1(data-social="item")
                  .card-content
                    img.lazy(alt="Person photo", src="assets/images/costumes/9.jpg")
                  |                   
                //- END ITEM
              //- END DAY
            //- END FEED
 
    //- END costume CONTENT

    //- BEGIN sketch CONTENT
    section#sketch.p-b-85.p-t-75
      .container
        .row.text-center
          .col-sm-8.col-sm-offset-2.m-b-30
            h1.light.m-t-5 Sketch
        .row
          img.lazy(src="assets/images/sketch/sketch1.png", alt="", data-max-top-translate="40", data-max-bottom-translate="300", data-speed="-0.1", data-delay="1000", data-curve="ease", width="100%")
    //- END sketch CONTENT

    //- BEGIN Outline CONTENT
    section#outline.bg-master-lightest.p-b-85.p-t-75
      .container
        .row.text-center
          .col-sm-8.col-sm-offset-2.m-b-30
            h1.light.m-t-5 Outline
      .container.my-gallery(itemscope="", itemtype="http://schema.org/ImageGallery")
        .row
          .col-sm-6.col-md-4
            .container-xs-height.full-height(data-bg-overlay="black")
              .col-xs-height.col-middle.full-width
                //- BEGIN CONTENT
                .inner.full-height
                  .container-xs-height.full-height
                    .col-xs-height.col-middle.text-center.p-b-25.text-center
                      figure.bg-white.p-l-15.p-r-15.b-a.b-grey.cursor(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
                        a(href="assets/images/outline/before-outline.jpg", itemprop="contentUrl", data-size="1440x2560")
                          img.margin-30(src="assets/images/outline/before-outline.jpg", width="100%", itemprop="thumbnail", alt="")
                        figcaption(itemprop="caption description")
                          h5.font-montserrat.all-caps Before
                //- END CONTENT
          |           
          .col-sm-6.col-md-4
            .container-xs-height.full-height(data-bg-overlay="black")
              .col-xs-height.col-middle.full-width
                //- BEGIN CONTENT
                .inner.full-height
                  .container-xs-height.full-height
                    .col-xs-height.col-middle.text-center.p-b-25.text-center
                      figure.bg-white.p-l-15.p-r-15.b-a.b-grey.cursor(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
                        a(href="assets/images/outline/during-outline.jpg", itemprop="contentUrl", data-size="1440x2560")
                          img.margin-30(src="assets/images/outline/during-outline.jpg", width="100%", itemprop="thumbnail", alt="")
                        figcaption(itemprop="caption description")
                          h5.font-montserrat.all-caps During
                //- END CONTENT
          |           
          .col-sm-6.col-md-4
            .container-xs-height.full-height(data-bg-overlay="black")
              .col-xs-height.col-middle.full-width
                //- BEGIN CONTENT
                .inner.full-height
                  .container-xs-height.full-height
                    .col-xs-height.col-middle.text-center.p-b-25.text-center
                      figure.bg-white.p-l-15.p-r-15.b-a.b-grey.cursor(itemprop="associatedMedia", itemscope="", itemtype="http://schema.org/ImageObject")
                        a(href="assets/images/outline/after-outline.jpg", itemprop="contentUrl", data-size="1440x2560")
                          img.margin-30(src="assets/images/outline/after-outline.jpg", width="100%", itemprop="thumbnail", alt="")
                        figcaption(itemprop="caption description")
                          h5.font-montserrat.all-caps After
                //- END CONTENT
          |

    //- END Outline CONTENT

    //- BEGIN sketch CONTENT
    section#before.vh.p-b-85.p-t-75
      .container
        .row.text-center
          .col-sm-8.col-sm-offset-2.m-b-30
            h1.light.m-t-5 Before
        .row
          .relative
            img.lazy(src="assets/images/before/before.jpg", alt="", data-max-top-translate="40", data-max-bottom-translate="300", data-speed="-0.1", data-delay="1000", data-curve="ease", width="100%")
    //- END sketch CONTENT

    //- BEGIN sketch CONTENT
    section#during.vh.p-b-85.p-t-75
      .container
        .row.text-center
          .col-sm-8.col-sm-offset-2.m-b-30
            h1.light.m-t-5 During
        .row
          img.lazy(src="assets/images/during/during.jpg", alt="", data-max-top-translate="40", data-max-bottom-translate="300", data-speed="-0.1", data-delay="1000", data-curve="ease", width="100%")
    //- END sketch CONTENT

    //- BEGIN sketch CONTENT
    section#after.vh.p-b-85.p-t-75
      .container
        .row.text-center
          .col-sm-8.col-sm-offset-2.m-b-30
            h1.light.m-t-5 After
        .row
          img.lazy(src="assets/images/after/after.jpg", alt="", data-max-top-translate="40", data-max-bottom-translate="300", data-speed="-0.1", data-delay="1000", data-curve="ease", width="100%")
    //- END sketch CONTENT